discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts:
  [
  {% for host in groups['elasticsearch_master_nodes_internal'] %}
    "{{ host }}:9300",
  {% endfor %}
  ]
bootstrap.memory_lock: true
network.host: 0.0.0.0
