discovery.type: gce
cloud.gce.project_id: "{{gce_project_id}}"
cloud.gce.zone:
  - us-east1-b
  - us-east1-c
  - us-east1-d
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: 3
index.number_of_shards: 5
